*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* .container{
   width: 100%;
   margin: auto;
} */

/* header section */
.hero{
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/fauxels.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   height: 100vh;
}

.nav-bar .nav-menu{
   display: flex;
   list-style-type: none;
   font-size: 15px;
   padding: 30px;
   align-items: center;
   gap: 50px;
   color: white;
   justify-content: center;
}

.nav-menu a{
   text-decoration: none;
   color: white;
}

.hero-text{
   color: white;
   text-align: center;
   padding: 200px;
   font-size: 40px;
   font-weight: bold;
   line-height:1.5;
}

.hero-text p{
   color: #bdbdbd;
   font-size: 25px;
   margin-top:20px;
}

.contact-btn{
   text-align: center;
   position: relative;
   bottom: 20%;
   margin-top: 20px;
}

.contact-btn a{
   color: #bdbdbd;
   font-size: 15px;
   text-align:center;
   text-decoration: none;
   font-weight: bold;
   border: 4px solid #bdbdbd;
   padding: 10px;
   border-radius:20px;
   transition: ease 0.5s;
}

.contact-btn a:hover{
   background-color: black;
   color: white;
   border: black 4px solid;
}

/* about section */
.about{
   text-align: center;
   background-color: #f1f1f1;
   line-height: 1.5;
   padding: 40px;
}

.about h3{
   font-size: 20px;
   text-align: center;
}

.about p{
   font-size: 15px;
   text-align: center;
   align-items: center;
   margin-top: 25px;
}

hr{
   margin: auto;
   color: #7b4333;
   border: solid;
   width: 3%;
   margin-top: 4px;
}

.skill-wrapper{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 70px;
   flex: 1;

}

.skills{
   padding: 50px;
}

.skills-icon{
   width:70px;
}

.skills h3{
   font-size: 20px;
}

.skills p{
   font-size: 15px;
}

/* project section */
.project-wrapper{
   display:flex;
   padding:100px;
   justify-content: center;
   align-items: center;
   gap: 40px;
   text-align: center;
}

.projects h3{
   font-size: 20px;
   text-align: center;
   margin-top:80px;
}

.pro-img{
   width:300px;
   display: block;
}

.projects .project h3{
   margin-top:20px;
}

.project-links{
   text-decoration: none;
   color:black;
   align-items: center;
   justify-content: center;
   font-size: 15px; 
   border: 3px solid white;
   border-radius: 10px;
   padding: 5px;
   position: absolute;
   bottom: 40%;
   right:30%;
   color: white;
   transition: ease 0.5s;
   font-weight: bold;
   text-align: center;
}

.project-links:hover{
   background-color:white;
   color: black;
}

.project{
   position: relative;
}

.overlay{
   position: absolute; 
   bottom: 0; 
   background: rgba(0, 0, 0, 0.7); /* Black see-through */
   color: #f1f1f1; 
   width: 100%;
   transition: .5s ease;
   opacity:0;
   color: white;
   font-size: 20px;
   padding: 20px;
   text-align: center;
   height: 200px;
   top:1px;
}

.project:hover .overlay{
   opacity: 1;
}

/* .dev-tools h3{
   position: absolute;
   font-size: 60px;
   color: white;
   right: 45%;
   margin: 20px;
} */

.tools-wrapper{
   display: flex;
   background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url('images/code.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   height: 20vh;
   justify-content: center;
   align-items: center;
   gap: 16px;
   margin: auto;
}

.tools img{
   width: 80px;
   text-align: center;
   padding: 10px;
}

/* social section */
.social-wrapper{
   display: flex;
   background-color: #bdbdbd;
   width: 50%;
   margin-top: 150px;
   padding: 30px;
   align-items: center;
   gap: 20px;
   justify-content: center;
}

.social-wrapper h3{
   font-size: 20px;
   font-weight: bold;
   color:#2d2b2b;
}

.social-icons img{
   width: 40px;
   color: #2d2b2b;
}

/* contact section */
.contact-section{
   text-align:center;
   padding: 70px;
   margin-top: 100px;
}

.contact-section h2{
   font-size: 40px;
   color: #707070;
}

.contact-form{
   padding:30px;
}

input{
   font-size: 20px;
   /* padding: 20px; */
   border-radius: 15px;
   width:250px;
   border: 2px solid #707070;
   text-align: center;
}

.submit-cta{
   padding: 10px;
   width: 100px;
   border:2px solid #707070;
   background-color: white;
   color: #707070;
   font-weight: bold;
   border-radius: 30px;
   transition: ease .5s;
}

.submit-cta:hover{
   cursor: pointer;
   background-color:black;
   color:white;
   border: 4px black solid;
}

textarea{
   border:2px solid #707070;
   text-align: center;
   border-radius: 15px;
   padding: 20px;
}

/* footer */
.foot{
   text-align: center;
   font-size: 15px;
   background-color:#2d2b2b;
   padding: 25px;
   color: white;
}

/* MEDIA QUERIES - SMARTPHONE VERSION */
@media screen and (max-width: 600px) {
   .nav-bar .nav-menu {
     display: none;
   }

   .hero-text{
      padding: 20px;
      font-size: 30px;
   }

   .hero-text h1{
      padding-top:200px;
   }

   .hero-text p{
      font-size: 20px;
   }

   .contact-btn{
      margin-top: 220px;
   }

   .skill-wrapper, .project-wrapper{
      display: block;
   }

   .pro-img, .social-wrapper{
      width: 100%
   }

   .overlay{
      height: 190px;
   }

   .tools img{
      width: 60px;
   }

   .contact-section{
      padding: 0;
   }

   .contact-section h2{
      font-size: 30px;
   }
 
 }