<div class="header-section md:grid md:grid-cols-2 overflow-hidden ">
  <!-- LEFT COLUMN -->
  <div class="left-side p-5 bg-black bg-cover bg-no-repeat bg-center h-[50vh] md:h-[100vh]">
    <div class="relative top-[40%] w-fit m-auto">
      <img src="../../../assets/images/logo_white.svg" alt="" class="w-52">
    </div>
  </div>
  <!-- RIGHT COLUMN -->
  <div class="right-side p-5">
    <!-- NAVIGATION MENU -->
    <div class="navigation absolute top-0 text-white p-5 hidden md:relative md:text-[#303030] md:flex md:justify-center">
      <nav>
        <ul class="flex gap-20 font-bold text-sm justify-center text-[#303030]">
          <li><a href="#">About</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
    <!-- HERO TEXT -->
    <div class="hero-text flex relative top-[10%] items-start gap-4">
      <!-- SOCIALS -->
      <div class="socials relative top-4 hidden md:inline-block">
        <img src="../../../assets/images/ig.png" alt="" class="w-8 mb-2">
        <img src="../../../assets/images/linkedin.png" alt="" class="w-8 mb-2">
        <img src="../../../assets/images/github.png" alt="" class="w-8">
      </div>
      <!-- SLOGAN -->
      <div class="slogan text-[#303030] text-left md:text-left">
        <h1 class="text-6xl md:text-8xl font-extrabold">In <br>creativeness <br>we trust.</h1>
        <!-- CONTACT CTA -->
        <div class="contact-cta w-[25%] text-center bg-[#303030] text-white p-3 mt-10 rounded-full cursor-pointer hover:bg-[#5a5a5a] transition-all">
          <p>contact me</p>
        </div>
      </div>
    </div>
  </div>
</div>
